# Keep it out of search engines and prevent public caching
<IfModule mod_headers.c>
  Header set X-Robots-Tag "noindex, nofollow, noarchive"
  Header set Cache-Control "no-store, no-cache, must-revalidate, private"
</IfModule>
